name: torrenttools-2026
on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Name of the torrent file'
        required: true
        default: 'My_Download'
      url:
        description: 'Direct Link (e.g., Pixeldrain)'
        required: true
        default: 'https://pixeldrain.com'
      file_name:
        description: 'Name of the file inside the torrent'
        required: true
        default: 'downloaded_file.data'

jobs:
  create_torrent:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y aria2 wget
          # Download torrenttools AppImage directly to avoid PPA errors
          wget 
