name: Fixed-Torrent-Creator-2026
on:
  workflow_dispatch:
    inputs:
      url:
        description: 'Direct Link (Pixeldrain)'
        required: true
        default: 'https://pixeldrain.com'
      name:
        description: 'Torrent Filename'
        required: true
        default: 'pixeldrain_file'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          # FIX: libfuse2 is required for AppImages on Ubuntu 22.04/24.04
          sudo apt-get install -y aria2 wget libfuse2
          
          # Download and prepare torrenttools
          wget 
