name: Fixed-Torrent-2026
on:
  workflow_dispatch:
    inputs:
      url:
        description: 'Direct Link (Pixeldrain)'
        required: true
        default: 'https://pixeldrain.com'
      name:
        description: 'Torrent Filename'
        required: true
        default: 'my_torrent_file'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          # FIX for Ubuntu 24.04: Use libfuse2t64 instead of libfuse2
          sudo apt-get install -y aria2 wget libfuse2t64
          
          # Download torrenttools
          wget https://github.com -O torrenttools
          chmod +x torrenttools

      - name: Download File
        run: aria2c -x 16 -o "data.file" "${{ github.event.inputs.url }}"

      - name: Create Torrent
        run: |
          # FIX for 2026 Runners: Extract AppImage to bypass AppArmor restrictions
          ./torrenttools --appimage-extract-and-run create -v 1 \
            -o "${{ github.event.inputs.name }}.torrent" \
            -w "${{ github.event.inputs.url }}" \
            -a udp://tracker.opentrackr.org:1337/announce \
            "data.file"

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.inputs.name }}
          path: ${{ github.event.inputs.name }}.torrent
